@import "color";

html {
  font-family: helvetica, sans-serif;
}

.timestamp {
  color: grey;
    line-height: 1rem;
    font-size: 0.5rem;
}

.notification{
  font-style: italic;
  color: $red;
    .timestamp {
      color: $red;
      font-size: 0.5rem;
      line-height: 1rem;
    }
}

.left-chat {
  background-color: $secondary;
  line-height: 1em;
  color: white;
  padding: 1em;
}

.members-title {
  font-size: 1.5em;
  font-weight: bold;
}
